<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livehelp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".RobotActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ManualActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".FAQBody"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".FAQUnit" />
        <activity
            android:name=".FAQUnit"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>